abseil-cpp==20230802.0
accuweather==2.1.1
acme==2.7.4
Adafruit-Blinka==7.1.1
adafruit-circuitpython-bmp280==3.1.1
adafruit-circuitpython-busdevice==5.1.8
adafruit-circuitpython-dht==3.7.0
adafruit-circuitpython-mcp230xx==2.2.2
adafruit-circuitpython-pca9685==3.3.2
adafruit-circuitpython-register==1.9.8
adafruit-circuitpython-typing==1.3.0
Adafruit-GPIO==1.0.3
Adafruit-PureIO==1.1.9
Adafruit-SHT31==1.0.2
Adafruit_BBIO==1.1.1
Adax-local==0.1.5
adax==0.4.0
adb-shell==0.4.4
adext==0.4.2
adguardhome==0.6.3
advantage-air==0.4.4
AEMET-OpenData==0.4.6
aenum==3.1.12
afsapi==0.2.7
agent-py==0.0.23
ahocorapy==1.6.1
aio-geojson-client==0.18
aio-geojson-generic-client==0.3
aio-geojson-geonetnz-quakes==0.15
aio-geojson-geonetnz-volcano==0.8
aio-geojson-nsw-rfs-incidents==0.6
aio-geojson-usgs-earthquakes==0.2
aio-georss-client==0.11
aio-georss-gdacs==0.8
aioairq==0.3.1
aioairzone-cloud==0.3.6
aioairzone==0.6.9
AIOAladdinConnect==0.1.58
aioambient==2023.4.0
aioaseko==0.0.2
aioasuswrt==1.4.0
aiobafi6==0.9.0
aiobotocore==2.6.0
aiocache==0.11.1
aiocoap==0.4.5
aiocomelit==0.6.2
aioconsole==0.5.1
aiodiscover==1.5.1
aiodns==3.0.0
aiodns==3.1.1
aioeafm==0.1.2
aioeagle==1.1.0
aioecowitt==2023.5.0
aioelectricitymaps==0.1.5
aioemonitor==1.0.5
aioesphomeapi==18.5.7
aiofiles==23.1.0
aioflo==2021.11.0
aioftp==0.21.3
aiogithubapi==22.10.1
aioguardian==2022.7.0
aioharmony==0.2.10
aiohomekit==3.0.9
aiohttp-cors==0.7.0
aiohttp-fast-url-dispatcher==0.3.0
aiohttp-retry==2.8.3
aiohttp-socks==0.8.4
aiohttp-zlib-ng==0.1.1
aiohttp==3.9.1
aiohue==4.7.0
aioimaplib==1.0.1
aioitertools==0.11.0
aiokafka==0.7.2
aiokef==0.2.16
aiolifx-effects==0.3.2
aiolifx-themes==0.4.10
aiolifx==1.0.0
aiolivisi==0.0.19
aiolookin==1.0.0
aiolyric==1.1.0
aiomodernforms==0.1.8
aiomqtt==1.2.1
aiomusiccast==0.14.8
aionanoleaf==0.2.1
aionotion==2023.5.5
aiooncue==0.3.5
aiopegelonline==0.0.6
aiopulse==0.4.3
aiopurpleair==2022.12.1
aiopvapi==2.0.4
aiopvpc==4.2.2
aiopyarr==23.4.0
aioqsw==0.3.5
aiorecollect==2023.9.0
aioridwell==2023.7.0
aioruckus==0.34
aioruuvigateway==0.1.0
aiosenseme==0.6.1
aiosenz==1.0.0
aioserial==1.3.0
aioshelly==6.1.0
aioshutil==1.1
aiosignal==1.3.1
aioskybell==22.7.0
aioslimproto==2.3.3
AIOSomecomfort==0.0.24
aiosqlite==0.17.0
aiosteamist==0.3.2
aioswitcher==3.3.0
aiosyncthing==0.5.1
aiotractive==0.5.6
aiounifi==67
aiovlc==0.1.0
aiovodafone==0.4.3
aiowaqi==3.0.1
aiowatttime==0.1.1
aiowebostv==0.3.3
aiowithings==2.0.0
aioymaps==1.2.2
airly==1.1.0
airthings-cloud==0.1.0
airtouch4pyapi==1.0.5
ajsonrpc==1.2.0
alabaster==0.7.13
alarmdecoder==1.13.11
alpha-vantage==2.3.1
ambee==0.4.0
amberelectric==1.0.4
Ambiclimate==0.2.1
amcrest==1.9.8
androidtv==0.0.73
androidtvremote2==0.0.14
annotated-types==0.6.0
anova-wifi==0.10.0
anthemav==1.4.1
anyio==4.0.0
anyio==4.1.0
apcaccess==0.0.13
apischema==0.18.1
apns2==0.3.0
appdirs==1.4.4
apple_weatherkit==1.1.2
apprise==1.6.0
aprslib==0.7.0
aqipy-atmotech==0.1.5
aqualogic==2.6
aranet4==2.2.2
arcam-fmj==1.4.0
argcomplete==3.1.6
arris-tg2492lg==1.2.1
arrow==1.3.0
asgiref==3.7.2
asmog==0.0.6
asn1crypto==1.5.1_p20231012
asterisk_mbox==0.5.0
astral==2.2
async-interrupt==1.1.1
async-modbus==0.2.1
async-timeout==4.0.3
async-upnp-client==0.36.2
asyncclick==8.0.1.3
asyncinotify==4.0.2
asyncio-dgram==2.1.2
asyncio-throttle==1.0.2
asyncpysupla==0.0.5
asyncsleepiq==1.3.7
asyncssh==2.9.0
asynctest==0.13.0
atenpdu==0.3.2
atomicwrites-homeassistant==1.4.1
attrs==23.1.0
auroranoaa==0.0.3
aurorapy==0.2.7
Authlib==1.2.0
automat==22.10.0
avea==1.5.1
avion==0.10
awesomeversion==23.11.0
axis==48
Babel==2.13.1
backoff==2.2.1
backports-strenum==1.2.8
baidu-aip==1.6.6.0
batinfo==0.4.2
bcrypt==4.0.1
beacontools==2.1.0
beautifulsoup4==4.12.2
beewi-smartclim==0.0.10
bellows==0.37.1
bidict==0.22.0
bimmer-connected==0.14.6
bitarray==2.8.3
bitstring==4.1.2
bitstruct==8.17.0
bizkaibus==0.1.1
bleach==6.1.0
bleak-retry-connector==3.3.0
bleak==0.21.1
blebox-uniapi==2.2.0
blinker==1.7.0
blinkpy==0.22.3
BlinkStick==1.2.0
blinkt==0.1.0
blockchain==1.4.4
bluemaestro-ble==0.2.3
bluepy==1.3.0
bluetooth-adapters==0.16.1
bluetooth-auto-recovery==1.2.3
bluetooth-data-tools==1.15.0
bluetooth-sensor-state-data==1.6.1
bluez==5.68
bme280spi==0.2.0
bme680==1.0.5
bond-async==0.2.1
boschshcpy==0.2.75
boto3==1.28.17
boto3==1.29.3
botocore==1.32.3
bottle==0.12.25
bottleneck==1.3.7
broadlink==0.18.3
brother==2.3.0
brotli==1.1.0
brotlicffi==1.1.0.0
brottsplatskartan==0.0.1
brunt==1.2.0
bt-proximity==0.2.1
bthome-ble==3.2.0
bthomehub5-devicelist==0.1.1
btlewrap==0.1.0
btsmarthub-devicelist==0.2.3
btsocket==0.2.0
buienradar==1.0.5
bx-py-utils==75
c-ares==1.21.0
ca-certificates==20230311.3.90
cachetools==5.3.2
casttube==0.2.1
cbor2==5.5.1
cchardet==2.1.19
certifi==3021.3.16
cffi==1.16.0
chacha20poly1305-reuseable==0.10.2
chacha20poly1305==0.0.3
chardet==5.2.0
charset-normalizer==3.2.0
charset-normalizer==3.3.2
circuit-webhook==1.0.1
ciscomobilityexpress==0.3.9
ciso8601==2.3.0
cJSON==1.7.16
clearpasspy==1.0.2
click-log==0.4.0
click-plugins==1.1.1
click==8.1.7
clx-sdk-xms==1.0.0
coinbase==2.1.0
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
colorthief==0.2.1
colorzero==2.0
colour==0.1.5
commentjson==0.9.0
concord232==0.15
config==0.5.1
ConfigArgParse==1.7
connect-box==0.2.8
connio==0.2.0
constantly==23.10.4
construct==2.10.68
construct==2.10.69
contourpy==1.2.0
coronavirus==1.1.1
coverage==7.3.2
cppy==1.2.1
crc==5.0.0
crccheck==1.3.0
crcmod==1.7
croniter==1.0.6
croniter==2.0.1
crownstone-cloud==1.4.9
crownstone-core==3.0.1
crownstone-sse==2.0.4
crownstone-uart==2.1.0
cryptography==41.0.7
csrmesh==0.10.0
cssselect==1.2.0
cups==2.4.7
curl==8.4.0
cycler==0.12.1
dacite==1.8.1
dataclasses-json==0.6.3
datadog==0.15.0
datapoint==0.9.8
dateparser==1.1.7
DateTime==5.3
dbus-fast==2.14.0
dbus==1.15.6
debianutils==5.8
debugpy==1.8.0
decora-wifi==1.4
decora==0.6
decorator==5.1.1
deepdiff==6.2.1
deepmerge==1.1.0
defusedxml==0.7.1
dejavu==2.37
deluge-client==1.7.1
demetriek==0.4.0
demjson3==3.0.5
deprecated==1.2.14
devialet==1.4.3
devolo-home-control-api==0.18.2
devolo-plc-api==1.4.1
dialog==1.3.20230209
dicttoxml2==2.1.0
dicttoxml==1.7.4
directv==0.4.0
discogs-client==2.3.0
discovery30303==0.2.1
dlib==19.24.2
dlipower==0.7.165
dlms-cosem==21.3.2
dnspython==2.4.2
docopt==0.6.2
docutils==0.20.1
DoorBirdPy==2.1.0
double-conversion==3.2.1
dovado==0.4.1
dremel3dpy==2.1.1
dsmr-parser==1.3.1
dtlssocket==0.1.12
dtlssocket==0.1.16
dweepy==0.3.0
dynalite-devices==0.1.47
dynalite-panel==0.0.4
eagle100==0.1.1
easyenergy==1.0.0
ebusdpy==0.0.17
ecdsa==0.18.0
ecoaliface==0.4.0
eebrightbox==0.0.4
electrickiwi-api==0.8.5
elementpath==4.1.5
elgato==5.1.1
eliqonline==1.2.2
elkm1-lib==2.2.6
elmax-api==0.0.4
emulated-roku==0.2.1
energyflip-client==0.2.2
energyzero==1.0.0
enocean==0.50.1
enturclient==0.2.4
enum-compat==0.0.3
env-canada==0.6.0
envirophat==0.0.6
envoy-utils==0.0.1
envs==1.4
ephem==4.1.5
epson-projector==0.5.1
epsonprinter==0.0.9
esphome
esphome-dashboard-api==1.2.3
esphome-dashboard==20231107.0
esprima==4.0.1
eternalegypt==0.0.16
eufylife-ble-client==0.1.8
evdev==1.6.1
Events==0.4
evohome-async==0.4.6
exceptiongroup==1.2.0
expat==2.5.0
faadelays==2023.9.1
face-recognition==1.2.3
face_recognition_models==0.3.0
fastdotcom==0.0.3
faust-cchardet==2.1.18
feedparser==6.0.10
ffmpeg==6.0
file-read-backwards==2.0.0
file==5.45
fints==3.1.0
fitbit==0.3.1
fivem-api==0.1.2
fixerio==1.0.0_alpha0
fjaraskupan==2.2.0
flask==3.0.0
flipr-api==1.5.0
flux-led==1.0.4
fnv-hash-fast==0.5.0
fnvhash==0.1.0
fonttools==4.46.0
foobot_async==1.0.0
forecast-solar==3.0.0
fortiosapi==1.0.5
fqdn==1.5.1
freebox-api==1.1.0
freesms==0.2.0
freetype==2.13.2
fritzconnection==1.4.2
frozenlist==1.4.0
fs==2.4.16
furo==2023.9.10
future==0.18.3
gammu==1.42.0
gardena-bluetooth==1.4.0
garminconnect-ha==0.1.6
gassist-text==0.0.10
gcal-sync==6.0.3
gcloud==0.18.3
gd==2.3.3
gdb==13.2
geniushub-client==0.7.1
geocachingapi==0.2.1
GeographicLib==1.52
geojson==2.5.0
geopy==2.3.0
georss-client==0.15
georss-generic-client==0.6
georss-ign-sismologia-client==0.6
georss-qld-bushfire-alert-client==0.5
getmac==0.8.2
getmac==0.8.3
gios==3.2.2
gitterpy==0.1.7
glances-api==0.4.3
glib==2.76.4
glibc==2.37
gmp==6.3.0
gntp==1.0.3
gnutls==3.8.0
goalzero==0.2.2
gobject-introspection-common==1.76.1
gobject-introspection==1.76.1
goodwe==0.2.32
google-ai-generativelanguage==0.3.3
google-api-core==2.14.0
google-api-python-client==2.71.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-auth==2.23.4
google-cloud-pubsub==2.13.11
google-cloud-texttospeech==2.12.3
google-generativeai==0.1.0
google-nest-sdm==3.0.3
googleapis-common-protos==1.61.0
googlemaps==2.5.1
goslide-api==0.5.1
govee-ble==0.24.0
gpiod==1.5.4
gpiozero==1.6.2
gps3==0.33.3
gql==3.4.1
graphicsmagick==1.3.40
graphql-core==3.3.0_alpha2
graphviz==0.20.1
graphviz==8.1.0
greeclimate==1.4.1
greeneye-monitor==3.0.3
greenwavereality==0.5.1
gridnet==5.0.0
growattServer==1.3.0
grpc-google-iam-v1==0.12.4
grpcio-reflection==1.59.0
grpcio-status==1.59.0
grpcio==1.59.0
gspread==5.5.0
gstreamer-player==1.1.2
gTTS==2.2.4
guppy3==3.1.4
h11==0.14.0
h2==4.1.0
ha-av==10.1.1
ha-ffmpeg==3.1.0
ha-iotawattpy==0.1.1
ha-philipsjs==3.1.1
habitipy==0.2.0
hangups==0.4.18
hass-nabucasa==0.74.0
hass-splunk==0.1.1
hassil==1.5.1
HATasmota==0.7.3
haversine==2.8.0
hbmqtt==0.9.5
hdate==0.10.4
heatmiserV3==1.1.18
here-routing==0.2.0
here-transit==1.2.0
hikvision==0.4
hkavr==0.0.5
hlk-sw16==0.0.9
hole==0.8.0
holidays==0.36
home-assistant-bluetooth==1.10.4
home-assistant-cli==9999
home-assistant-frontend==20231208.2
home-assistant-intents==2023.12.5
homeassistant
homeconnect==0.7.2
homematicip==1.0.16
homepluscontrol==0.0.5
horimote==0.4.1
hpack==4.0.0
html5lib==1.1
httmock==1.4.0
http-ece==1.1.0
httpcore==0.18.0
httpcore==1.0.2
httplib2==0.20.4
httplib2==0.22.0
httpsig==1.3.0
httpx==0.25.0
httpx==0.25.2
humanfriendly==10.0
hyper==0.7.0
hyperframe==6.0.1
hyperion-py==0.7.5
hyperlink==21.0.0
i2csense==0.0.4
iammeter==0.1.7
iaqualink==0.5.0
ibeacon-ble==1.0.1
ibm-cloud-sdk-core==3.11.3
ibm-watson==5.2.2
ibmiotf==0.3.4
ical==6.1.0
idasen-ha==2.4
idasen==0.10.3
idna==3.6
ifaddr==0.2.0
iglo==1.2.7
ihcsdk==2.8.5
imagemagick-tools==0
imagemagick==7.1.1.11
imagesize==1.4.1
imutils==0.5.4
incomfort-client==0.5.0
incremental==22.10.0
inflect==7.0.0
inflection==0.5.1
influxdb-client==1.24.0
influxdb==5.3.1
inkbird-ble==0.5.6
inquirerpy==0.3.4
insteon-frontend-home-assistant==0.4.0
intelhex==2.3.0
intellifire4py==2.2.2
iperf3==0.1.11
iperf==3.15
ismartgate==5.0.1
iso4217==1.11.20220401
iso8601==2.1.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
janus==1.0.0
jaraco-abode==3.3.0
jaraco-classes==3.3.0
jaraco-collections==4.3.0
jaraco-context==4.3.0
jaraco-email==3.1.0
jaraco-functools==3.9.0
jaraco-functools==4.0.0
jaraco-itertools==6.4.1
jaraco-logging==3.2.0
jaraco-net==9.3.1
jaraco-text==3.11.1
jeepney==0.8.0
jellyfin-apiclient-python==1.9.2
jinja==3.1.2
jmespath==1.0.1
josepy==1.14.0
js2py==0.74
jsonpath-ng==1.6.0
jsonpickle==3.0.2
jsonpointer==2.4
jsonrpc-async==2.1.0
jsonrpc-base==2.1.0
jsonrpc-websocket==3.1.1
jsonschema-specifications==2023.11.1
jsonschema==4.20.0
justbackoff==0.6.0
justnimbus==0.6.0
kaiterra-async-client==1.0.0
kasa-crypt==0.3.0
kconfiglib==13.7.1
keba-kecontact==1.1.0
kegtron-ble==0.4.0
keyring==24.3.0
keyrings_alt==4.1.0
kiwiki-client==0.1.1
kiwisolver==1.4.5
knx-frontend==2023.6.23.191712
konnected==1.2.0
krakenex==2.1.0
lacrosse-view==1.0.1
lakeside==0.13
lark==1.1.8
laundrify-aio==1.1.2
ld2410-ble==0.1.1
led-ble==1.0.1
libcap==2.69
libcrypt==2
libcst==0.3.23
libfastjson==1.2304.0
libffi==3.4.4
libgudev==238
libiconv==0
libiconv==1.17
libidn2==2.3.4
libidn==1.41
libintl==0
libintl==0.21.1
libjpeg-turbo==3.0.0
liblinear==246
libltdl==2.4.7
libpaper==2.1.2
libpcap==1.10.4
libpcre2==10.42
libpcre==8.45
libpng==1.6.40
libpurecool==0.6.4
libpyfoscam==1.0
libpyvivotek==0.4.0
librouteros==3.2.0
libsodium==1.0.19
libsoundtouch==0.8.0
libtasn1==4.19.0
libtomcrypt==1.18.2
libudev==251
libunistring==1.1
libusb1==3.0.0
libusb==1
libusb==1.0.26
libxml2==2.11.5
libxslt==1.1.38
libyaml==0.2.5
life360==6.0.0
liffylights==0.9.4
lightify==1.0.7.3
lightwave==0.24
limitlessled==1.1.3
linear-garage-door==0.2.7
linkify-it-py==2.0.2
linode-api==4.1.9_beta1
locationsharinglib==5.0.1
logi-circle==0.2.3
loguru==0.7.0
lomond==0.3.3
london-tube-status==0.5
loqedAPI==2.1.8
lru-dict==1.2.0
luftdaten==0.7.4
lupupy==0.3.1
lw12==0.9.2
lxml==4.9.3
lyft_rides==0.2
mac-vendor-lookup==0.1.12
magicseaweed==1.0.3
markdown-it-py==3.0.0
markdown==3.5.1
markupsafe==2.1.3
marshmallow-dataclass==8.5.9
marshmallow==3.20.1
mashumaro==3.11
Mastodon-py==1.5.1
matplotlib==3.6.1
matrix-nio==0.22.1
maxcube-api==0.4.3
mbddns==0.1.2
mcstatus==11.0.0
mdurl==0.1.2
meater-python==0.0.8
mechanize==0.4.9
medcom-ble==0.1.1
mediafile==0.12.0
melnor-bluetooth==0.0.25
messagebird==1.2.0
meteoalertapi==0.3.0
meteocalc==1.1.0
meteofrance-api==1.3.0
mficlient==0.3.0
micloud==0.5
mill-local==0.3.0
millheater==0.11.7
miniaudio==1.59
minio==7.1.12
moat-ble==0.1.1
moehlenhoff-alpha2==1.3.0
mopeka-iot-ble==0.5.0
more-itertools==10.1.0
motionblinds==0.6.18
motioneye-client==0.3.14
mpfr==4.2.1
ms-cv==0.1.1
msgpack==1.0.7
mt_940==4.26.0
mullvad-api==1.0.0
multidict==6.0.4
munch==4.0.0
mutagen==1.47.0
mutesync==0.0.1
mychevy==2.1.1
mycroftapi==2.0
mypermobil==0.1.6
mypy_extensions==1.0.0
mysqlclient==2.2.0
nad-receiver==0.3.0
natsort==8.4.0
nclib==1.0.1
ncurses==6.4_p20230401
ndms2-client==0.1.2
nessclient==1.0.0
netaddr==0.9.0
netdata==1.1.0
netdisco==3.0.0
netifaces==0.11.0
netmap==0.7.0.2
nettigo-air-monitor==2.2.2
nettle==3.9.1
neurio==0.3.1
nexia==2.0.7
nextcloudmonitor==1.4.0
nextcord==2.0.0_alpha8
nextdns==2.1.0
nibe==2.5.2
niko-home-control==0.2.1
niluclient==0.1.2
nmap==7.94
noaa-coops==0.1.9
noiseprotocol==0.3.1
nose==1.3.7_p20221026
notifications-android-tv==0.1.5
nsapi==3.0.5
nspektr==0.5.0
nsw-fuel-api-client==1.1.0
nuheat==1.0.1
numato-gpio==0.10.0
numexpr==2.8.7
numpy==1.26.0
numpy==1.26.2
oasatelematics==0.3
oauth2client==4.1.3
oauthlib==3.2.2
objgraph==3.5.0
odp-amsterdam==6.0.0
oemthermostat==1.1.1
olefile==0.46
omnilogic==0.4.5
ondilo==0.2.0
onkyo-eiscp==1.2.7
onvif-zeep-async==3.1.12
open-garage==0.2.0
open-meteo==0.3.1
openai==0.27.2
openerz-api==0.2.0
openevsewifi==1.1.2
openhomedevice==2.2
opensensemap-api==0.2.0
openssl==3.0.11
openwebifpy==3.2.7
openwrt-luci-rpc==1.1.16
openwrt-ubus-rpc==0.0.2
OPi-GPIO==0.5.2
opower==0.0.39
opuslib==3.0.1
oralb-ble==0.17.6
ordered-set==4.1.0
orjson==3.9.10
orjson==3.9.9
oru==0.1.11
orvibo==1.1.1
ourgroceries==1.5.4
ovoenergy==1.2.0
oyaml==1.0
p1monitor==3.0.0
packaging==23.2
paho-mqtt==1.6.1
panacotta==0.2
panasonic-viera==0.3.6
pandas==2.1.3
paramiko==3.3.1
passlib==1.7.4
path==16.7.1
pbr==6.0.0
pcal9535a==0.7
pdunehd==1.3.2
peco==0.0.29
pencompy==0.0.3
pescea==1.0.12
pexpect==4.6.0
pfzy==0.3.4
phone-modem==0.1.1
phx-filters==2.0.2
pifacecommon==4.2.2
pifacedigitalio==3.0.5
piglow==1.2.4
pigpio==1.78
pilight==0.1.1
pillow==10.1.0
pillow==9.3.0
Pint==0.22
pip==23.3.1
pizzapi==0.0.3
pkgconf==1.8.1
pkgconfig==2
platformdirs==4.0.0
platformio==6.1.11
plugwise==0.34.5
plumbum==1.8.2
plumlightpad==0.0.11
ply==3.11
pmsensor==0.4
poolsense==0.0.8
praw==7.5.0
prawcore==2.3.0
prayer-times-calculator==0.0.10
prettytable==3.9.0
ProgettiHWSW==0.1.3
proliphix==0.4.1
prometheus-client==0.17.1
prompt-toolkit==3.0.41
proto-plus==1.22.3
protobuf-python==4.25.1
protobuf==24.3
proxmoxer==2.0.1
psutil-home-assistant==0.0.1
psutil==5.9.6
PsychroLib==2.5.0
ptyprocess==0.7.0
pubnub==6.4.1
pubnubsub-handler==1.0.9
pure-pcapy3==1.0.1
pure-python-adb==0.3.0
pushover_complete==1.1.1
pvo==2.1.1
pwmled==1.6.10
py-canary==0.5.3
py-cpuinfo==9.0.0
py-dormakaba-dkey==1.0.5
py-improv-ble-client==1.0.3
py-melissa-climate==2.1.4
py-nextbusnext==1.0.2
py-nightscout==1.2.2
py-schluter==0.1.7
py-sucks==0.9.8
py-synologydsm-api==2.1.4
py-vapid==1.8.2
py-zabbix==1.1.7
py17track==2021.12.2
pyads==3.2.2
pyaehw4a1==0.3.9
pyaes==1.6.1
pyaftership==21.11.0
pyairnow==1.2.1
pyairvisual==2023.8.1
pyalmond==0.0.2
pyarlo==0.2.4
pyasn1-modules==0.3.0
pyasn1==0.4.8
pyasn1==0.5.1
pyasuswrt==0.1.20
pyatag==0.3.5.3
pyatmo==7.6.0
pyAtome==0.1.1
pyatv==0.14.3
pyaussiebb==0.0.15
pybalboa==1.0.1
pybbox==0.0.5_alpha0
pyblackbird==0.6
pybluez==0.22
pybotvac==0.0.24
pybravia==0.3.3
pycares==4.4.0
pycarwings2==2.14
pyCEC==0.5.2
pycfdns==3.0.0
pychannels==1.2.3
pychromecast==13.0.8
pycketcasts==1.0.1
pyclimacell==0.18.2
pycmus==0.1.1
pycognito==2023.5.0
pycomfoconnect==0.5.1
pyControl4==1.1.0
pycoolmasternet-async==0.1.5
pycountry-convert==0.7.2
pycountry==23.12.7
pycparser==2.21
pycrc16==0.1.2
pycryptodome==3.19.0
pycryptodomex==3.19.0
pycsspeechtts==1.0.8
pycups==1.9.73
pycurl==7.45.2
pydaikin==2.11.1
pydanfossair==0.1.0
pydantic-core==2.14.5
pydantic==1.10.12
pydantic==1.10.13
pydantic==2.5.2
pydeconz==114
pydelijn==1.1.0
pydevd==2.10.0
pydexcom==0.2.3
pydiscovergy==2.0.5
pydoods==1.0.2
pydrawise==2023.11.0
pydroid-ipcam==2.0.0
pyDuotecno==2023.11.1
pyebox==1.1.4
pyecoforest==0.4.0
pyeconet==0.1.22
pyedimax==0.2.1
pyefergy==22.1.1
pyElectra==1.2.0
pyelftools==0.30
pyEmby==1.9
pyenphase==1.14.3
pyenvisalink==4.6
pyephember==0.3.1
PyEssent==0.14
pyeverlights==0.1.0
pyevilgenius==2.0.0
pyezviz==0.2.1.2
pyfibaro==0.7.6
pyfido==2.1.2
pyfireservicerota==0.0.43
pyflexit==0.3
pyflic==2.0.3
PyFlick==0.0.2
PyFlume==0.6.5
pyflunearyou==2.0.2
pyfnip==0.2
pyforked-daapd==0.1.14
pyfreedompro==1.1.0
pyfritzhome==0.6.9
PyFronius==0.7.2
pyfttt==0.3.2
pygatt==4.0.5
pygments==2.17.2
pygobject==3.44.1
pygraphviz==1.11
pygtfs==0.1.9
pygti==0.9.4
pyhamcrest==2.1.0
pyheos==0.7.2
pyHik==0.3.2
pyhiveapi==0.5.14
pyhomematic==0.1.77
pyhomeworks==0.0.6
pyhumps==3.5.0
pyialarm==2.2.0
pyialarmxr-homeassistant==1.0.18
pyicloud==1.0.0
pyinsteon==1.5.2
pyintesishome==1.8.0
pyipma==3.0.7
pyipp==0.14.4
pyiqvia==2022.4.0
pyirishrail==0.0.2
pyiss==1.0.1
pyisy==3.1.14
pyitachip2ir==0.0.7
pyjsparser==2.7.1_p20190421
pyjvcprojector==1.0.6
pyjwt==2.8.0
pykaleidescape==1.0.1
pykira==0.1.1
pykmtronic==0.3.0
pykodi==0.2.7
pykoplenti==1.2.2
pykrakenapi==0.1.8
pykulersky==0.5.2
pykwb==0.0.8
pylacrosse==0.4
pylast==5.1.0
pylaunches==1.4.0
pylgnetcast==0.3.7
pylibrespot-java==0.1.1
pylitejet==0.5.0
pylitterbot==2023.4.9
pyloopenergy==0.2.1
pylutron-caseta==0.18.3
pylutron==0.2.8
pymailgunner==1.4
pymata-express==1.19
pymediaroom==0.6.5.4
pymelcloud==2.5.8
PyMetEireann==2021.8.0
pymeteoclimatic==0.0.6
PyMetno==0.11.0
pymfy==0.11.0
PyMicroBot==0.0.9
pymitv==1.4.3
pymochad==0.2.0
pymodbus==3.5.4
pymonoprice==0.4
pymsteams==0.1.12
PyMVGLive==1.1.4
pymysensors==0.24.0
pynacl==1.5.0
pynello==2.0.3
pynetgear==0.10.10
pynetio==0.1.9.1
PyNINA==0.3.3
pynobo==1.6.0
pynuki==1.6.2
pynut2==2.1.2
pynws==1.6.0
pynx584==0.5
pynzbgetapi==0.2.0
pyobihai==1.4.2
pyoctoprintapi==0.1.12
pyombi==0.1.10
pyopenssl==23.2.0
pyopenuv==2023.2.0
pyopnsense==0.4.0
pyoppleio-legacy==1.0.8
PyOTA==2.0.5
pyotgw==2.1.3
pyotp==2.8.0
pyoverkiz==1.13.3
pyowm==3.2.0
pyparsing==3.1.1
PyPasser==0.0.5
pypca==0.0.7
pypck==0.7.17
pypjlink2==1.2.1
pyplaato==0.0.18
pypoint==2.3.2
pyprof2calltree==1.4.5
pyprosegur==0.0.9
pyprusalink==1.1.0
pyps4-2ndscreen==1.3.1
PyPubSub==4.0.3
pyqrcode==1.2.1
pyquery==2.0.0
pyqvrpro==0.52
pyqwikswitch==0.93
pyrail==0.0.3
pyrainbird==4.0.1
Pyrebase4==4.5.0
pyrecswitch==1.0.2
pyrepetierng==0.1.0
pyrfc3339==1.1
pyRFXtrx==0.30.1
PyRIC==0.1.6.3
pyrisco==0.5.8
pyrituals==0.0.6
PyRMVtransport==0.3.3
pyroute2==0.7.5
pyroute2==0.7.9
pyrympro==0.0.7
pysabnzbd==1.1.1
pysaj==0.0.16
pyschlage==2023.11.0
pySDCP==1
pysensibo==1.0.36
pyserial-asyncio-fast==0.11
pyserial-asyncio==0.6
pyserial==3.5
pysesame2==1.0.1
pysha3==1.0.2
Pysher==1.0.7
pysiaalarm==3.1.1
pysignalclirestapi==0.3.18
pyskyqhub==0.1.4
pysma==0.7.3
pysmappee==0.2.29
pysmartapp==0.3.5
pysmartthings==0.7.8
pysmarty==0.8
pysml==0.0.12
pysnmp-pyasn1-modules==0.2.9
pysnmp-pyasn1==1.1.3
pysnmp-pysmi==1.1.10
pysnmp==4.4.12
pysnmplib==5.0.21
pysnooz==0.8.6
PySocks==1.7.1
pysoma==0.0.12
pyspcwebgw==0.7.0
pysqueezebox==0.6.3
pysuez==0.2.0
pyswitchbee==1.8.0
PySwitchbot==0.40.1
PySwitchmate==0.5.1
PySyncThru==0.7.10
pytankerkoenig==0.0.6
pytautulli==23.1.1
pytfiac==0.4
pythinkingcleaner==0.0.3
python-awair==0.2.4
python-blockchain-api==0.0.2
python-bsblan==0.5.16
python-clementine-remote==1.0.1
python-dateutil==2.8.2
python-didl-lite==1.3.2
python-digitalocean==1.13.2
python-ecobee-api==0.2.17
python-engineio==3.14.2
python-eq3bt==0.2
python-etherscan-api==0.0.3
python-family-hub-local==0.0.2
python-fullykiosk==0.0.12
python-gammu==3.2.4
python-gc100==1.0.3_alpha0
python-gitlab==1.6.0
python-homewizard-energy==4.1.0
python-hpilo==4.3
python-http-client==3.3.2
python-izone==1.2.9
python-join-api==0.0.9
python-jose==3.3.0
python-juicenet==1.1.0
python-kasa==0.5.4
python-magic==0.4.27
python-metar==1.4.0
python-miio==0.5.12
python-mpd2==3.0.5
python-multipart==0.0.6
python-mystrom==2.2.0
python-opendata-transport==0.3.0
python-opensky==1.0.0
python-openzwave-mqtt==1.4.0
python-otbr-api==2.5.0
python-picnic-api==1.1.0
python-qbittorrent==0.4.3
python-ripple-api==0.0.3
python-sense-hat==2.2.0
python-singleton==0.1.2
python-slugify==4.0.1
python-slugify==8.0.1
python-smarttub==0.0.36
python-socketio==4.6.0
python-socketio==5.3.0
python-socks==2.4.3
python-songpal==0.16
python-tado==0.15.0
python-telegram-bot==13.1
python-wink==1.10.5
python-xlib==0.33
pythonegardia==1.0.52
pyTibber==0.28.2
pytile==2023.4.0
pytomorrowio==0.3.6
pytouchline==0.7
pytraccar==2.0.0
pytrackr==0.0.5
pytradfri==9.0.1
pytrafikverket==0.3.9.1
PyTransportNSW==0.1.1
pytrydan==0.4.0
PyTurboJPEG==1.7.1
pytz==2023.3_p1
pyudev==0.23.2
pyunifiprotect==4.22.0
pyuptimerobot==22.2.0
pyusb==1.2.1
PyUserInput==0.1.11
pyvera==0.3.13
pyversasense==0.0.6
pyvesync==2.1.10
PyViCare==2.29.0
pyvizio==0.1.61
pyvlx==0.2.20
pyvolumio==0.1.5
pyW215==0.7.0
pyW800rf32==0.4
pywaze==0.5.1
pyweatherflowudp==1.4.5
pywebpush==1.9.2
pywemo==1.3.0
pywilight==0.0.74
pywizlight==0.5.14
pyws66i==1.1
pyxeoma==1.4.1
PyXiaomiGateway==0.14.3
pyyaml==6.0.1
pyyardian==1.1.1
pyzbar==0.1.7
pyzerproc==0.4.8
pyzipper==0.3.6
qhull==2020.2
qingping-ble==0.8.2
qnapstats==0.4.0
quantum-gateway==0.0.8
RachioPy==1.0.3
radios==0.2.0
radiotherm==2.1.0
raincloudy==0.0.7
rapt-ble==0.1.2
raspihats==2.2.3
raspyrfm-client==1.2.8
re2==0.2022.12.01
readlike==0.1.2
readline==8.1_p2
referencing==0.31.0
regenmaschine==2023.6.0
regex==2021.8.28
regex==2023.10.3
related==0.7.2
renault-api==0.2.0
renson-endura-delta==1.6.0
reolink-aio==0.8.2
ReParser==1.4.3
requests-file==1.5.1
requests-futures==1.0.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3986==2.0.0
rfc3987==1.3.8
rfk101py==0.0.1
rflink==0.0.65
rich==13.7.0
ring-doorbell==0.8.3
ritassist==0.9.2
rjpl==0.3.6
rocketchat-API==0.6.1
rokuecp==0.18.1
roombapy==1.6.8
roonapi==0.1.5
rova==0.3.0
rpds-py==0.13.1
rpi-bad-power==0.1.0
RPi-GPIO==0.7.1_alpha4
rpi-rf==0.9.7
rsa==4.9
rtimulib==7.2.1
RtmAPI==0.7.2
rtsp-to-webrtc==0.5.1
ruamel-yaml-clib==0.2.8
ruamel-yaml==0.17.40
ruamel-yaml==0.18.5
russound-rio==1.0.0
russound==0.1.9
ruuvitag-ble==0.1.2
Rx==3.2.0
rxv==0.7.0
s3transfer==0.7.0
samsungctl==0.7.1
samsungtvws==2.6.0
satel-integra==0.3.7
scapy==2.5.0
schedule==1.1.0
schiene==0.23
screenlogicpy==0.9.4
scsgate==0.1.0
secretstorage==3.3.3
securetar==2023.3.0
segno==1.5.3
semantic-version==2.10.0
semver==3.0.2
sendgrid==6.8.2
sense-energy==0.12.2
sensirion-ble==0.1.1
sensor-state-data==2.17.1
sensorpro-ble==0.5.3
sensorpush-ble==1.5.5
sentry-sdk==1.37.1
sepaxml==2.2.0
setuptools==69.0.2
sfrbox-api==0.0.8
sgmllib3k==1.0.0
sharkiq==1.0.2
sharp_aquos_rc==0.3.2
shodan==1.28.0
simplehound==0.3
simplejson==3.19.2
simplepush==2.2.3
simplisafe-python==2023.8.0
siobrultech-protocols==0.5.0
sisyphus-control==3.1.3
six==1.16.0
slackclient==2.5.0
sleekxmppfs==1.4.1
slixmpp==1.8.4
smart-meter-texas==0.4.7
SmartHab==0.21
smbus-cffi==0.5.1
smhi-pkg==1.0.16
snapcast==2.3.3
sniffio==1.3.0
snitun==0.36.2
snowballstemmer==2.2.0
socat==1.7.4.4
soco==0.29.1
solaredge-local==0.2.3
solaredge==0.0.2
solax==0.3.2
somfy-mylink-synergy==1.0.6
sonos-websocket==0.1.2
sortedcontainers==2.4.0
soupsieve==2.5
speak2mary==1.4.0
speedtest-cli==2.1.3
sphinx-basic-ng==1.0.0_beta2
sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
spiderpy==1.6.1
spidev==3.5
sqlalchemy==2.0.23
srpenergy==1.3.6
srptools==1.0.1
sseclient-py==1.7.2
starkbank-ecdsa==1.0.0
starlette==0.32.0
starline==0.1.5
starlingbank==3.2
starlink-grpc-core==1.1.3
statsd==3.2.1
stdiomask==0.0.6
steamodd==4.21
stevedore==5.1.0
stix-fonts==2.11
stookalert==0.1.4
stookwijzer==1.3.0
streamlabswater==1.0.1
strict-rfc3339==0.7
stringcase==1.2.0
striprtf==0.0.26
structlog==23.2.0
subarulink==0.7.9
sunwatcher==0.2.1
surepy==0.8.0
swisshydrodata==0.1.0
switchbot-api==1.2.1
synology-srm==0.2.0
systembridgeconnector==3.10.0
systemd-utils==254.5
tabulate==0.9.0
tahoma-api==0.0.16
tailer==0.4.1
tailscale==0.6.0
Tami4EdgeAPI==2.1
tank-utility==1.5.0
tapsaff==0.2.1
tellcore-net==0.4
tellcore-py==1.1.2
tellduslive==0.10.11
tellsticknet==0.1.2
temescal==0.5
temperusb==1.6.0
tempora==5.5.0
tenacity==8.2.3
tesla-powerwall==0.3.19
tesla-wall-connector==1.0.2
teslajsonpy==0.18.3
text-unidecode==1.3
thermobeacon-ble==0.6.0
thermopro-ble==0.5.0
thermoworks-smoke==0.1.8
thingspeak==1.0.0
tikteck==0.4
tilt-ble==0.2.3
timezone-data==2023c
titlecase==2.3
tmb==0.0.4
todoist-api-python==2.1.2
tololib==0.1.0_beta4
tomli==2.0.1
toonapi==0.3.0
total-connect-client==2023.2
tp-connected==0.0.4
tplink-omada-client==1.3.2
tqdm==4.66.1
transitions==0.9.0
transmission-rpc==7.0.3
TravisPy==0.3.5
ttls==1.5.1
tuya-iot-py-sdk==0.6.6
twentemilieu==2.0.1
twilio==6.32.0
twisted==23.8.0
twitchAPI==4.0.0
TwitterAPI==2.7.12
typer==0.7.0
typing-extensions==4.8.0
typing-inspect==0.7.1
tzdata==9999
tzlocal==5.2
ua-parser==0.10.0
uasiren==0.0.1
uc-micro-py==1.0.2
udev==217
ujson==5.8.0
ulid-transform==0.9.0
ultraheat-api==0.5.7
uModbus==1.0.4
unasync==0.5.0
unidecode==1.3.7
unifi-discovery==1.1.7
unifiled==0.11
universal-silabs-flasher==0.0.15
unpaddedbase64==2.1.0
untangle==1.2.1
uonet-request-signer-hebe==0.1.1
upb-lib==0.5.4
upcloud-api==2.0.0
uplink-protobuf==0.1.0
uplink==0.9.7
uri-template==1.3.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.1.0
urwid==2.2.3
usb-devices==0.4.1
uscisstatus==0.1.1
user-agents==2.0
util-linux==2.38.1
uvcclient==0.11.0
uvicorn==0.24.0
validators==0.22.0
vallox-websocket-api==4.0.2
vehicle==2.2.1
velbus-aio==2023.11.0
venstarcolortouch==0.19
vilfo-api-client==0.4.1
vincenty==0.1.4
VL53L1X2==0.1.5
voip-utils==0.1.0
vol==0.1.1
volkszaehler==0.4.0
voluptuous-serialize==2.6.0
voluptuous==0.13.1
voluptuous==0.14.1
volvooncall==0.10.3
vsure==2.6.6
vtjp==0.2.1
vulcan-api==2.3.0
vultr==0.1.2
wakeonlan==2.1.0
wallbox==0.4.14
warrant-lite==1.0.4
watchdog==2.3.1
waterfurnace==1.1.0
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
webexteamssdk==1.1.1
webob==1.8.7
webrtc-noise-gain==1.2.3
websocket-client==1.6.4
websockets==12.0
werkzeug==3.0.1
wheel==0.41.3
whirlpool-sixth-sense==0.18.4
whois==0.9.27
wiffi==1.1.2
wirelesstagpy==0.8.1
wled==0.17.0
wolf-smartset==0.1.11
wrapt==1.16.0
WSDiscovery==2.0.0
wsproto==1.2.0
xbox-webapi==2.0.11
xboxapi==2.0.1
xerces-c==3.2.4
xiaomi-ble==0.21.1
xknx==2.11.2
xknxproject==3.4.0
xmlschema==2.5.0
xmltodict==0.13.0
xs1-api-client==3.0.0
yagrc==1.1.2
yalesmartalarmclient==0.3.9
yalexs-ble==2.3.2
yalexs==1.10.0
yarl==1.9.2
yarl==1.9.4
yeelight==0.7.14
yeelightsunflower==0.0.10
yolink-api==0.3.4
youless-api==1.0.1
youtubeaio==1.1.5
yt-dlp==2023.11.16
zamg==0.3.3
zbar==0.23.92
zeep==4.2.1
zengge==0.2
zeroconf==0.127.0
zeversolar==0.3.1
zha-quirks==0.0.107
zhong-hong-hvac==1.0.9
ziggo-mediabox-xl==1.1.0
zigpy-deconz==0.22.0
zigpy-xbee==0.20.0
zigpy-zigate==0.12.0
zigpy-znp==0.12.0
zigpy==0.60.0
zlib-ng==0.2.0
zlib-ng==2.1.5
zlib==1.3
zm-py==0.5.2
zope-interface==6.1
zwave-me-ws==0.4.3
